:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.scanner-active {
  background: transparent !important;
}

body.scanner-active {
  background: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}

body.scanner-active ion-app {
  background: transparent !important;
}

.scanner-active ion-content {
  --background: transparent !important;
  pointer-events: none;
}

body.scanner-active::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Adjust opacity if needed */
  pointer-events: none;
}
