<div>
  <h1>Scoreboard:</h1>
</div>

<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col><strong>Name</strong></ion-col>
      <ion-col><strong>Date</strong></ion-col>
      <ion-col><strong>Schnitzel</strong></ion-col>
      <ion-col><strong>Potatoe</strong></ion-col>
    </ion-row>

    @for(run of runs; track run.name){
    <ion-row class="divider-row">
      <ion-col>{{run.name}}</ion-col>
      <ion-col>{{run.date}}</ion-col>
      <ion-col>{{run.countSchnitzel}}</ion-col>
      <ion-col>{{run.countKartoffel}}</ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-card-content>

<ion-item-divider></ion-item-divider>

<ion-button class="start-btn" (click)="navigateToStart()">
  Back to the Start
</ion-button>

<ion-button [disabled]="false" class="start-btn" (click)="navigateToHome()">
  Home
</ion-button>

<ion-button (click)="clearScoreboard()"> clear scoreboard </ion-button>
