:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.cam-loc-btn {
  --background: grey;
}

.btn-green {
  --background: green;
}

.completed-checkbox {
  --checkbox-background-checked: green;
  --checkmark-color: white;
  --text-color: green;
}

.not-completed-checkbox {
  --background: lightgray;
  --border-color: lightgray;
  --checkmark-color: black;
}
