:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

ion-button {
  display: block;
  margin: 10px auto;
  width: 80%;
}

.cancel-button {
  --background: lightcoral;
}

.start-btn {
  --background: #2596be;
}

.cam-loc-btn {
  --background: grey;
}

.btn-green {
  --background: green;
}

ion-item-divider {
  margin: 20px 0;
}
